/* Color Hunt */
:root {
	--primary-color: #AD7BE9;
	--secondary-color: #432C7A;
	--tertiary-color: #A555EC;
	--forth-color: #D09CFA;
}

html, body { background-color: var(--secondary-color); color: white; }

a {
	user-select: none;
	text-decoration: none;
	color: white;
}